doctype html
head
  title
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  //if mso
    xml
      o:officedocumentsettings
        o:pixelsperinch 96
        o:allowpng
  // [if !mso] <!
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css')
  // <![endif]
  style.
    @font-face {
        font-family: Product-Sans-Bold, sans-serif;
        src: url(https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&family=Poppins&display=swap);
    }

    * {
    box-sizing: border-box;
    font-family: product-sans;
    }
    body {
    margin: 0;
    padding: 0;
    }
    a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: inherit !important;
    }
    #MessageViewBody a {
    color: inherit;
    text-decoration: none;
    }
    p {
    line-height: inherit
    }
    @media (max-width:650px) {
    .desktop_hide table.icons-inner {
    display: inline-block !important;
    }
    .icons-inner {
    text-align: center;
    }
    .icons-inner td {
    margin: 0 auto;
    }
    .row-content {
    width: 100% !important;
    }
    .column .border,
    .mobile_hide {
    display: none;
    }
    table {
    table-layout: fixed !important;
    }
    .stack .column {
    width: 100%;
    display: block;
    }
    .mobile_hide {
    min-height: 0;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    font-size: 0px;
    }
    .desktop_hide,
    .desktop_hide table {
    display: table !important;
    max-height: none !important;
    }
    .reverse {
    display: table;
    width: 100%;
    }
    .reverse .column.first {
    display: table-footer-group !important;
    }
    .reverse .column.last {
    display: table-header-group !important;
    }
    .row-1 td.column.first>table,
    .row-1 td.column.last>table {
    padding-left: 0;
    padding-right: 0;
    }
    }
  
  //- include head.pug
  //- - var customer_name = 'Steve Gilbert'


table.nl-container(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF;')
  tbody
    tr
      td
        table.row.row-1.mobile_hide(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ffffff; width: 650px;background-color: #2F8AFF')
                  tbody
                    tr.reverse
                      td.column.column-1.first(width='50%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;')
                        table.image_block(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                          tr
                            td(style='width:100%;padding-right:10px;padding-left:10px;padding-top:5px;padding-bottom:5px;')
                              div(style='line-height:10px')
                                img(src='./images/eazy_logo2.svg' style='display: block; height: auto; border: 0; width: 110px; max-width: 100%;' width='27' alt='image' title='image')
                        table.paragraph_block(width='100%' border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;')
                          tr
                            td
                              div(style="padding-top:50px;font-size:22px;font-family:product-sans;font-weight:400;line-height:120%;text-align:left;direction:ltr;letter-spacing:0px;")
                                p(style='margin: 0;')
                                  | Hello 
        table.row.row-2.desktop_hide(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; mso-hide: all; display: none; max-height: 0; overflow: hidden;')
          tbody
            tr
              td
                table.row-content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; mso-hide: all; display: none; max-height: 0; overflow: hidden; color: #000000; width: 650px;')
                  tbody
                    tr
                      td.column.column-1(width='50%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;')
                        table.image_block(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; mso-hide: all; display: none; max-height: 0; overflow: hidden;')
                          tr
                            td(style='width:100%;padding-right:10px;padding-left:10px;padding-top:5px;padding-bottom:5px;')
                              div(style='line-height:10px')
                                img(src='https://cdn.shoppd.net/EmailTemplates/0/0/metamuseIcon.png' style='display: block; height: auto; border: 0; width: 27px; max-width: 100%;' width='27' alt='image' title='image')

                    //-   td.column.column-2(width='50%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;')
                    //-     table.image_block(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; mso-hide: all; display: none; max-height: 0; overflow: hidden;')
                    //-       tr
                    //-         td(style='width:100%;padding-right:10px;padding-left:10px;padding-top:5px;padding-bottom:5px;')
                    //-           div(align='right' style='line-height:10px')
                    //-             img(src=`${LOGO}` style='display: block; height: auto; border: 0; width: 125px; max-width: 100%;' width='125' alt='logo' title='logo')
        table.row.row-3(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 650px;')
                  tbody
                    tr
                      td.column.column-1(width='100%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;')
                        table.paragraph_block(width='100%' border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;')
                          tr
                            td
                              div(style="color:#000;font-size:22px;font-family:'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif;font-weight:400;line-height:120%;text-align:left;direction:ltr;letter-spacing:0px;")
                                p(style='margin: 0;')
                                  | Hello 
                                  strong #{customer_name},

                        table.button_block(width='100%' border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                          tr
                            td(style="padding:3px 10px;")
                              //if mso
                                v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' style='height:34px;width:146px;v-text-anchor:middle;' arcsize='59%' strokeweight='0.75pt' strokecolor='#EFF2FF' fillcolor='#EFF2FF')
                                  w:anchorlock
                                    v:textbox(inset='0px,0px,0px,0px')
                                      center(style='color:#ffffff; font-family:Tahoma, Verdana, sans-serif; font-size:13px')

                              //if mso
                              div(style="padding:12px;background-color:#04BF99;color:white;font-family:'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif;")
                                span(style="vertical-align:middle;height:25px;width:25px;display:inline-block;")
                                  img(alt="cross icon" style="height:100%;" src="https://cdn.shoppd.net/EmailTemplates/0/0/rightIcon.png")
                                span(style="margin:0;vertical-align:middle;padding-left:10px;font-size:18px;") Password changed successfully
                        table.paragraph_block(width='100%' border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;')
                          tr
                            td
                              div(style="color:#000;font-size:16px;font-family:'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif;font-weight:400;line-height:120%;text-align:left;direction:ltr;letter-spacing:0px;")
                                p(style='margin: 0;') This is a confirmation that you have successfully changed your password on #{company_name}. If you did not do this please do contact our support team.
                                p(style="border-top:1px solid #EFF2F4;margin-top:20px;margin-bottom:0;")
        table.row.row-4(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td
                table.row-content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 650px;')
                  tbody
                    tr
                      td.column.column-1(width='86%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: bototm; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;')
                        table.paragraph_block(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;')
                          tr
                            td(style='padding-right:10px;padding-left:10px;')
                              div(style="color:#000;font-size:16px;font-family:'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif;font-weight:400;line-height:120%;text-align:left;direction:ltr;letter-spacing:0px;")
                                p(style='margin: 0;') Warmest regards and thank you for shopping with us, 
                                    a(style="text-decoration:underline;font-weight:700;color:rgba(37, 32, 32, 1)") #{company_name}
                      td.column.column-2(width='14%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: bottom; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;')
                        table.social_block(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                          tr
                            td(style='text-align:right;padding-right:10px;padding-bottom:0;padding-left:10px;')
                              table.social-table(border='0' cellpadding='0' cellspacing='0' role='presentation' align='right' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                tr
                                  td(style='padding:0 0 0 4px;')
                                    a(href='#' target='_blank')
                                      img(src='https://cdn.shoppd.net/EmailTemplates/0/0/instagram.png' width='20' height='20' alt='Facebook' title='facebook' style=' height: auto; border: 0;')
                                  td(style='padding:0 0 0 10px;')
                                    a(href='#' target='_blank')
                                      img(src='https://cdn.shoppd.net/EmailTemplates/0/0/linkedin.png' width='20' height='20' alt='Instagram' title='instagram' style='height: auto; border: 0;')
        table.row.row-5(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;margin-top:13px;')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 650px;')
                  tbody
                    tr
                      td.column.column-1(width='100%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top;padding-bottom: 5px; border-top: 1px solid #EFF2F4; border-right: 0px; border-bottom: 0px; border-left: 0px;')
                        table.paragraph_block(width='100%' border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;')
                          tr
                            td
                              div(style="color:#000;font-size:10px;font-family:'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif;font-weight:400;line-height:120%;direction:ltr;letter-spacing:0px;")
                                p(style='margin: 0;')
                                  | Please do not reply to this email. If you would like to contact the #{company_name} team, please reach out to us using one of the following options:

                        table.text_block(border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                          tr 
                              td(style="text-align: right;")
                                  img(style="width: 10px;margin-right: 4px;" src="https://cdn.shoppd.net/EmailTemplates/0/0/emailIcon.png" alt="icon")
                                  a(href="#" style="vertical-align: text-bottom;color:#000;font-size:12px;font-family: 'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif;line-height: 1.6;")  
                                      | #{support_email}
                              td 
                                  img(style="width: 10px;margin-right: 4px;" src="https://cdn.shoppd.net/EmailTemplates/0/0/phoneIcon.png" alt="icon")
                                  a(href="#" style="vertical-align: top;color:#000;font-size:12px;font-family: 'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif;")  
                                      | #{support_number}
        
