doctype html
head
  title
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  //if mso
    xml
      o:officedocumentsettings
        o:pixelsperinch 96
        o:allowpng
  // [if !mso] <!
  // <![endif]
  style.
    @font-face {
        font-family:'Open Sans', sans-serif;
        src: url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&family=Poppins&display=swap");
    }

    * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    }
    body {
    margin: 0;
    padding: 0;
    }
    a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: inherit !important;
    }
    #MessageViewBody a {
    color: inherit;
    text-decoration: none;
    }
    p {
    line-height: inherit
    }
    @media (max-width:700px) {
    .desktop_hide table.icons-inner {
    display: inline-block !important;
    }
    .icons-inner {
    text-align: center;
    }
    .icons-inner td {
    margin: 0 auto;
    }
    .row-content {
    width: 100% !important;
    }
    //- .column .border,
    //- .mobile_hide {
    //- //- display: none;
    //- }
    //- table {
    //- table-layout: fixed !important;
    //- }
    //- .stack .column {
    //- width: 100%;
    //- display: block;
    //- }
    //- .mobile_hide {
    //- min-height: 0;
    //- max-height: 0;
    //- max-width: 0;
    //- overflow: hidden;
    //- font-size: 0px;
    //- }
    //- .desktop_hide,
    //- .desktop_hide table {
    //- display: table !important;
    //- max-height: none !important;
    //- }
    .reverse {
    display: table;
    width: 100%;
    }
    //- .reverse .column.first {
    //- display: table-footer-group !important;
    //- }
    .reverse .column.last {
    display: table-header-group !important;
    }
    .row-1 td.column.first>table,
    .row-1 td.column.last>table {
    padding-left: 0;
    padding-right: 0;
    }
    }
  
  - var customer_name = 'Abram'
  - var recharge_amount = '50.00'
  - var transection_id = '13WQ47DYHDKJK83'
  - var recharge_date = '23 Jun 2023, 10:34 am'


table.nl-container(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF;')
  tbody
    tr
      td
        table.row.row-1.mobile_hide(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ffffff; width: 700px;background-color: #2F8AFF')
                  tbody
                    tr.reverse
                      td.column.column-1.first(width='50%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;padding: 60px 40px 20px 40px')
                        table.image_block(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                          tr
                            td(style='width:100%;padding:0px;padding-top:5px;padding-bottom:5px;')
                              div(style='line-height:10px')
                                img(src='./images/eazy_logo2.svg' style='display: block; height: auto; border: 0; width: 110px; max-width: 100%;' width='27' alt='image' title='image')
                        table.paragraph_block(width='100%' border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;')
                          tr
                            td(style="padding:0")
                              div(style="padding-top:25px;font-weight:400;line-height:120%;text-align:left;direction:ltr;letter-spacing:0px;")
                                p(style='margin: 0;font-size:22px;')
                                  | Dear #{customer_name}
                                p(style="font-size:14px;margin-bottom:0")
                                  | We are delighted to inform you that your Eazy wallet has been topped up with the requested amount, allowing you to enjoy seamless transactions and convenient payments for our products and services.
                                //- div(style='margin-top:15px;')
                                //-   a( href=`${reset_link}` style="font-size:12px;background-color:white;color:#2F8AFF;border:none;border-radius:5px;padding:10px 17px;font-weight:bold;text-decoration:none;")
                                //-     | Reset Password
        table.row.row-3(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 700px;')
                  tbody
                    tr
                      td.column.column-1(width='100%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;')
                        table.paragraph_block(width='100%' border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;')
                          tr
                            td(style="padding:20px 40px;")
                              div(style="background-color:#F4F6FD;color:#000;font-size:14px;font-weight:400;padding:20px;")
                                h6(style="color:#949CBC;font-size:12px;margin-top:0;margin-bottom:10px;") WALLET RECHARGE DETAILS:
                                div(style="margin-bottom:5px") 
                                    span(style="font-size:14px;color:#333333") Recharge Amount: 
                                    span(style="font-size:14px;font-weight:bold;color:#333333") $#{recharge_amount} 
                                div(style="margin-bottom:5px") 
                                    span(style="font-size:14px;color:#333333") Transaction ID: 
                                    span(style="font-size:14px;font-weight:bold;color:#333333") #{transection_id}
                                div(style="margin-bottom:5px") 
                                    span(style="font-size:14px;color:#333333") Recharge Date: 
                                    span(style="font-size:14px;font-weight:bold;color:#333333") #{recharge_date}
                                //- p(style='margin: 0;')
                                //-   | If you did not initiate this password reset request, or if you believe this email was sent to you in error, please disregard it. Your account will remain secure, and no changes will be made.
                                //- p(style='margin-bottom: 0;margin-top:20px;')
                                //-   | For any further assistance or if you have any concerns, please contact our support team at #{suppurt_email} / #{suppurt_number}. We’re here to help.
                              p(style="font-size:14px;") With a topped-up wallet, you now have the flexibility to make purchases, pay for services, and enjoy exclusive offers and discounts within our platform. Your wallet balance reflects the recharge amount and is available for immediate use. 
                              p(style="font-size:14px;margin-bottom:0") We look forward to serving you and providing you with a delightful experience every step of the way.
                              p(style="font-size:14px;margin-bottom:0") Best Regards,
                                br
                                | Team Eazy

        table.row.row-4(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td
                table.row-content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 700px;background-color:black;padding:20px 40px')
                  tbody
                    tr
                      td.column.column-1(width='86%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: bototm; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;')
                        table.image_block(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;')
                          tr
                            td(style='padding:0px;')
                              div(style='line-height:10px')
                                img(src='./images/eazy_logo2.svg' style='display: block; height: auto; border: 0; width: 110px; max-width: 100%;' width='27' alt='image' title='image')
                      td.column.column-2.last(width='50%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;padding-top:11px')
                        table.social-table(border='0' cellpadding='0' cellspacing='0' role='presentation' align='right' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                          tr
                            td(style='padding:0 0 0 0px;')
                              a(href='#' target='_blank')
                                img(src='./images/facebookIcon.svg' width='20' height='20' alt='Facebook' title='facebook' style=' height: auto; border: 0;')
                            td(style='padding:0 0 0 20px;')
                              a(href='#' target='_blank')
                                img(src='./images/instagramIcon.svg' width='20' height='20' alt='Instagram' title='instagram' style='height: auto; border: 0;')
                            td(style='padding:0 0 0 20px;')
                              a(href='#' target='_blank')
                                img(src='./images/twitterIcon.svg' width='20' height='20' alt='Instagram' title='instagram' style='height: auto; border: 0;')
                            td(style='padding:0 0 0 20px;')
                              a(href='#' target='_blank')
                                img(src='./images/youtubeIcon.svg' width='20' height='20' alt='Instagram' title='instagram' style='height: auto; border: 0;')