doctype html
head
  title
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  //if mso
    xml
      o:officedocumentsettings
        o:pixelsperinch 96
        o:allowpng
  // [if !mso] <!
  // <![endif]
  style.
    @font-face {
        font-family:'Open Sans', sans-serif;
        src: url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&family=Poppins&display=swap");
    }

    * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    }
    body {
    margin: 0;
    padding: 0;
    }
    a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: inherit !important;
    }
    #MessageViewBody a {
    color: inherit;
    text-decoration: none;
    }
    p {
    line-height: inherit
    }
    @media (max-width:850px) {
    .row-content {
    width: 100% !important;
    }
    }
    @media (max-width:650px) {
    .desktop_hide table.icons-inner {
    display: inline-block !important;
    }
    .placeOfServiceContainer{
    width:100% !important;
    display:block !important;
    }
    .bookingDetailsContainer{
    width:100% !important;
    display:block !important;
    }
    .paymentBreakdownContainer{
    width:100% !important;
    display:block !important;
    }
    .amontDueContainer{
    width:100% !important;
    display:block !important;
    }
    .icons-inner {
    text-align: center;
    }
    .icons-inner td {
    margin: 0 auto;
    }
    .row-content {
    width: 100% !important;
    }
    //- .column .border,
    //- .mobile_hide {
    //- //- display: none;
    //- }
    //- table {
    //- table-layout: fixed !important;
    //- }
    //- .stack .column {
    //- width: 100%;
    //- display: block;
    //- }
    //- .mobile_hide {
    //- min-height: 0;
    //- max-height: 0;
    //- max-width: 0;
    //- overflow: hidden;
    //- font-size: 0px;
    //- }
    //- .desktop_hide,
    //- .desktop_hide table {
    //- display: table !important;
    //- max-height: none !important;
    //- }
    .reverse {
    display: table;
    width: 100%;
    }
    //- .reverse .column.first {
    //- display: table-footer-group !important;
    //- }
    .reverse .column.last {
    display: table-header-group !important;
    }
    .row-1 td.column.first>table,
    .row-1 td.column.last>table {
    padding-left: 0;
    padding-right: 0;
    }
    }
  
  - var business_owner_firstname = 'Abram'
  - var business_owner_lastname = 'Qureshi'
  - var customer_previous_email_address = 'abram.qureshi@gmail.com'
  - var customer_new_email_address = 'qureshi.abram@gmail.com'
  - var customer_id = '123456789A'
  - var verify_email_link = '#'
  - var booking_id = 'Pd112412120125'
  - var booking_date = 'Fri, Jan 11, 2021'
  - var customer_support_email = 'support@gmail.com'
  - var customer_support_phone = '1234567890'



table.nl-container(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF;')
  tbody
    tr
      td
        table.row.row-1.mobile_hide(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ffffff; width: 850px;background-color: #2F8AFF')
                  tbody
                    tr.reverse
                      td.column.column-1.first(width='50%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;padding: 60px 40px 20px 40px')
                        table.image_block(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                          tr
                            td(style='width:100%;padding:0px;padding-top:5px;padding-bottom:5px;')
                              div(style='line-height:10px')
                                img(src='./images/staffLogo.svg' style='display: block; height: auto; border: 0; width: 110px; max-width: 100%;' width='27' alt='image' title='image')
                            td 
                              div(style="text-align:right;") 
                                p(style="white-space:nowrap;margin:0;font-size:12px;") Booking Id : #{booking_id}
                                p(style="margin:0;font-size:12px;") #{booking_date}
                        table.paragraph_block(width='100%' border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;')
                          tr
                            td(style="padding:0")
                              div(style="padding-top:25px;font-weight:400;line-height:120%;text-align:left;direction:ltr;letter-spacing:0px;")
                                p(style='margin: 0;font-size:22px;')
                                  | Dear #{business_owner_firstname}
                                p(style="font-size:14px;margin-bottom:0")
                                  | We are pleased to inform you that a new service order has been received. Please review the order details below and take the necessary actions to ensure a smooth and successful order fulfillment process.
        table.row.row-3(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 850px;')
                  tbody
                    tr
                      td.column.column-1(width='100%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;')
                        table.paragraph_block(width='100%' border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;')
                          tr
                            td(style="padding:20px 40px;")
                              table
                                tbody 
                                    tr 
                                      td.placeOfServiceContainer(style="width:45%") 
                                        div(style="height:100%;width:100%;border:1px solid #C0DAF5;border-radius:12px;padding:20px;")

                                          div(style="color:#000;font-size:14px;font-weight:400;")
                                            h6(style="color:#949CBC;font-size:10px;margin-top:0;margin-bottom:8px;") APPOINTMENT TYPE
                                            div(style="padding:8px 10px;background-color:#DBE1F8;color:#1B47DB;text-transform:uppercase;font-weight:bold;font-size:12px;width:max-content;border-radius:5px;display:inline-block") single
                                            div(style="padding:8px 10px;background-color:#DBE1F8;color:#1B47DB;text-transform:uppercase;font-weight:bold;font-size:12px;width:max-content;border-radius:5px;display:inline-block;margin:0 10px;") IN-CALL
                                            div(style="padding:8px 10px;background-color:#DBE1F8;color:#1B47DB;text-transform:uppercase;font-weight:bold;font-size:12px;width:max-content;border-radius:5px;display:inline-block") ASAP
                                        
                                          div(style="margin-top:25px;") 
                                            h6(style="color:#949CBC;font-size:10px;margin-top:0;margin-bottom:8px;") CUSTOMER INFORMATION
                                            div(style="display:inline-block")
                                              img(style="height:50px;width:50px;border-radius:5px;border:0;" src="./images/mobile.png"  )
                                            div(style="display:inline-block;vertical-align:top;padding-left:8px;")
                                              p(style="color:#333333;font-size:14px;margin:0;line-height:18px;") Anthony Mosis
                                              p(style="color:#9CA2C6;font-size:12px;margin:0;line-height:18px;") anthony.mosis@gmail.com
                                              p(style="color:#9CA2C6;font-size:12px;margin:0;") +91 94939 61244
                                            //- div(style="padding:8px 10px;background-color:#DBE1F8;color:#1B47DB;text-transform:uppercase;font-weight:bold;font-size:12px;width:max-content;border-radius:5px;display:inline-block") single
                                            //- div(style="padding:8px 10px;background-color:#DBE1F8;color:#1B47DB;text-transform:uppercase;font-weight:bold;font-size:12px;width:max-content;border-radius:5px;display:inline-block;margin:0 10px;") IN-CALL
                                            //- div(style="padding:8px 10px;background-color:#DBE1F8;color:#1B47DB;text-transform:uppercase;font-weight:bold;font-size:12px;width:max-content;border-radius:5px;display:inline-block") ASAP
                                          div(style="color:#000;font-size:14px;font-weight:400;margin-top:25px")
                                            h6(style="color:#949CBC;font-size:10px;margin-top:0;margin-bottom:8px;") PLACE OF SERVICE
                                            p(style="font-size:12px;margin:0") 10th Cross St, RBI Colony, Bengaluru, Karnataka 560024
                                          div(style="color:#000;font-size:14px;font-weight:400;margin-top:25px;")
                                            h6(style="color:#949CBC;font-size:10px;margin-top:0;margin-bottom:8px;") PAYMENT PREFERENCE
                                            div 
                                              span(style="font-size:12px;") Partial Payment :  
                                              span(style="font-size:12px;")  $100.00
                                          div(style="margin-top:25px;") 
                                            h6(style="color:#949CBC;font-size:10px;margin-top:0;margin-bottom:8px;") ADDITIONAL DETAILS
                                            p(style="color:#333333;font-size:12px;width:75%") 
                                              | Lorem ipsum dolor sit amet, consectetur adipiscg elit, sed do eiusmod tempor incididunt ut labore et dolore .
                                            div(style="border-radius:5px;display:inline-block;margin-right:8px;") 
                                              img(src="./images/mobile.png") 
                                            div(style="border-radius:5px;display:inline-block;margin-right:8px;") 
                                              div(style="height:80px;width:80px;background-color:#F0F0FD;border-radius:5px;")
                                            div(style="border-radius:5px;display:inline-block;margin-right:8px;") 
                                              div(style="height:80px;width:80px;background-color:#F0F0FD;border-radius:5px;")
   
                                      td.bookingDetailsContainer(style="padding:0;width:55%;padding-left:10px;vertical-align:top;")    
                                        div(style="color242A4B;font-size:12px;")
                                          h6(style="color:#949CBC;margin-bottom:15px;font-size:10px") BOOKING DETAILS
                                          div(style="color:#242A4B;")
                                            p(style="margin-bottom:0px;margin-top:13px;margin-bottom:5px") Furnished bedroom cleaning
                                            p(style="color:#9CA2C6;font-size:10px;margin-top:0px;") 1 Bhk
                                            div(style="display:inline-block;width:100%") 
                                              div(style="text-align:left;display:inline-block;width:50%;") 1 x $100.00
                                              div(style="text-align:right;display:inline-block;width:50%;")  $100.00
                                          div(style="color:#242A4B;")
                                            p(style="margin-bottom:0px;margin-top:13px;margin-bottom:5px") Occupied kitchen cleaning with appliancess
                                            div(style="display:inline-block;width:100%") 
                                              div(style="text-align:left;display:inline-block;width:50%;") 1 x $100.00
                                              div(style="text-align:right;display:inline-block;width:50%;") $100.00
                                          div(style="height:1px;background-color:#C0DAF5;margin:15px 0px")
                                          table(style="width:100%;color:#333333") 
                                            tbody 
                                              tr  
                                                td(style="width:40%")
                                                td
                                                  table(style="width:100%;") 
                                                    tbody   
                                                      tr 
                                                        td(style="display:inline-block;width:100%;") Sub Total ( Incl Tax )
                                                        td :
                                                        td(style="display:inline-block;text-align:right;width:100%;") $100.00
                                                      tr 
                                                        td(style="display:inline-block;width:100%;") Promo Code
                                                        td :
                                                        td(style="display:inline-block;text-align:right;width:100%;") $10.00
                                                      tr 
                                                        td(style="display:inline-block;width:100%;") Tip
                                                        td :
                                                        td(style="display:inline-block;text-align:right;width:100%;") $30.00
                                                      tr 
                                                        td(style="display:inline-block;width:100%;") Service Fee
                                                        td :
                                                        td(style="display:inline-block;text-align:right;width:100%;") $10.00
                                          div(style="height:1px;background-color:#C0DAF5;margin:15px 0px 5px 0px")
                                          table(style="width:100%") 
                                            tbody 
                                              tr  
                                                td(style="width:40%")
                                                td
                                                  table(style="width:100%;color:#333333") 
                                                    tbody   
                                                      tr 
                                                        td(style="display:inline-block;font-weight:bold;width:100%;") Amount Charged
                                                        td :
                                                        td(style="display:inline-block;font-weight:bold;width:100%;") $150.00
                                          table(style="width:100%") 
                                            tbody 
                                              tr  
                                                td.paymentBreakdownContainer(style="width:50%;color:#333333")
                                                  table(style="width:100%;color:#333333") 
                                                    tbody   
                                                    tr 
                                                        h6(style="color:#949CBC;margin-bottom:15px;font-size:10px") PAYMENT BREAKDOWN
                                                    tr 
                                                      td(style="display:inline-block;font-weight:bold;width:100%;padding-bottom:5px;") Partial Payment
                                                      td :
                                                      td(style="display:inline-block;font-weight:bold;width:100%;text-align:right;") $100.00
                                                td(style="width:10%")
                                                td.amontDueContainer(style="vertical-align:top;width:40%;")
                                                  table(style="width:100%;color:#333333;vertical-align:top;") 
                                                    tbody 
                                                      tr 
                                                        h6(style="color:#949CBC;margin-bottom:15px;font-size:10px") AMOUNT DUE
                                                      tr 
                                                        td(style="display:inline-block;font-weight:bold;width:100%;") Cash
                                                        td :
                                                        td(style="display:inline-block;font-weight:bold;width:100%;text-align:right;") $150.00


                                          



        table.row.row-3(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 850px;')
                  tbody
                    tr
                      td.column.column-1(width='100%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;')
                        table.paragraph_block(width='100%' border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;')
                          tr
                            td(style="padding:20px 40px;")
                              div(style="background-color:#F4F6FD;color#242A4B;font-size:13px;font-weight:400;padding:20px;border-radius:15px;")
                                p(style='margin: 0;')
                                  | Please review the order details carefully and ensure that all necessary resources, inventory, or equipment are available to fulfill the order on time. Take note of any special instructions or requirements provided by the customer.
                                p(style='margin-bottom: 0;margin-top:20px;')
                                  | Assigned team members or staff are requested to take immediate action to prepare the service order.
                                p(style='margin-bottom: 0;margin-top:20px;')
                                  | If you have any questions or require clarification regarding the order, please reach out to the customer directly or contact our customer support team at #{customer_support_email}/#{customer_support_phone}.
                              p(style="font-size:14px;color:#333333")  Thank you for your cooperation and commitment to maintaining our high service standards. 
                              p(style="font-size:14px;margin-bottom:0;color:#333333;") Best Regards,
                                br
                                | Team Eazy

        table.row.row-4(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td
                table.row-content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 850px;background-color:black;padding:20px 40px')
                  tbody
                    tr
                      td.column.column-1(width='86%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: bototm; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;')
                        table.image_block(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;')
                          tr
                            td(style='padding:0px;')
                              div(style='line-height:10px')
                                img(src='./images/staffLogo.svg' style='display: block; height: auto; border: 0; width: 110px; max-width: 100%;' width='27' alt='image' title='image')
                      td.column.column-2.last(width='50%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;padding-top:11px')
                        table.social-table(border='0' cellpadding='0' cellspacing='0' role='presentation' align='right' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                          tr
                            td(style='padding:0 0 0 0px;')
                              a(href='#' target='_blank')
                                img(src='./images/facebookIcon.svg' width='20' height='20' alt='Facebook' title='facebook' style=' height: auto; border: 0;')
                            td(style='padding:0 0 0 20px;')
                              a(href='#' target='_blank')
                                img(src='./images/instagramIcon.svg' width='20' height='20' alt='Instagram' title='instagram' style='height: auto; border: 0;')
                            td(style='padding:0 0 0 20px;')
                              a(href='#' target='_blank')
                                img(src='./images/twitterIcon.svg' width='20' height='20' alt='Instagram' title='instagram' style='height: auto; border: 0;')
                            td(style='padding:0 0 0 20px;')
                              a(href='#' target='_blank')
                                img(src='./images/youtubeIcon.svg' width='20' height='20' alt='Instagram' title='instagram' style='height: auto; border: 0;')